
@use '../abstracts/variables' as *;

/*
************
*************************
02. About area
******************************************************* 
*************************************************************** */


.philip-about-image {
    text-align: right;
    margin-right: 50px;
    position: relative;
  }
  
  .philip-about-image img {
    background: #EFEFEF;
    padding: 56px 83px 0 83px;
  }
  
  .content-box {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    color: #5F41FF;
    padding: 20px;
    border-radius: 16px;
    -webkit-box-shadow: -12px 12px 0px -2px;
            box-shadow: -12px 12px 0px -2px;
    position: absolute;
    bottom: 91px;
    left: -14px;
  }
  
  .content-box span {
    font-size: 60px;
    font-weight: bold;
  }
.philip_progress_single .progress {
    position: relative;
  }
  .philip_progress_single .progress span {
    position: absolute;
  }
  .progress_label h5 {
    font-size: 18px;
    font-weight: 400;
    color: #4A4847;
    margin-bottom: 15px;
  }
  .progress {
    height: 5px;
    background-color: #fff;
    border-radius: .25rem;
  }
  .progress-bar {
    background-color: #5F41FF;
    height: 5px;
    border-radius: 5px;
  }
  .philip_progress_single .progress {
    position: relative;
    overflow: inherit;
  }
  .philip_progress_single .progress span {
    position: absolute;
    right: 0;
    top: -35px;
    font-size: 18px;
    font-weight: 400;
    color: #4A4847;
  }




