
@use '../abstracts/variables' as *;

/*
************
*************************
02. About area
******************************************************* 
*************************************************************** */
.philip-about-image {
    text-align: right;
    position: relative;
    img {
      background: #EFEFEF;
      padding: 56px 83px 0 83px;
    }
    img {
      max-width: 100%;
    }
  }
  .content-box {
    background-color: #fff;
    display: inline-block;
    text-align: center;
    color: #5F41FF;
    padding: 20px;
    border-radius: 16px;
    -webkit-box-shadow: -12px 12px 0px -2px;
    box-shadow: -12px 12px 0px -2px;
    position: absolute;
    bottom: 91px;
    left: 9px;
    span {
      font-size: 60px;
      font-weight: bold;
    }
  }
  .philip-section-heading {
    color: black;
    font-size: 60px;
    font-weight: bold;
    text-transform: capitalize;
    margin-bottom: 22px;
  }
  .philip-progress-ber .philip_progress_single:not(:last-child) {
    padding-bottom: 30px;
  } 
.philip_progress_single {
  .progress {
    height: 5px;
    background-color: #fff;
    border-radius: .25rem;
    position: relative;
    overflow: inherit;
    span {
      position: absolute;
      right: 0;
      top: -35px;
      font-size: 18px;
      font-weight: 400;
      color: #4A4847;
    }
  }
} 
  .progress_label {
    h5 {
      font-size: 18px;
      font-weight: 400;
      color: #707070;
    }
  } 
  .progress-bar {
    background-color: #5F41FF;
    height: 5px;
    border-radius: 5px;
  }




