@use '../abstracts/variables' as *;

/*
************
*************************
23. blog
******************************************************* 
*************************************************************** */


.philip-blog-card {
	border-radius: 9px;
	box-shadow: 6px 2px 9px 7px #e3e3e30a;
	background-color: #fff;
}
.philip-blog-content p {
    color: $textColor;
    font-size: 14px;
    margin: 0;
}
.philip-blog-content {
	padding: 28px 30px 30px 30px;
}
.philip-blog-content {
    h3 {
        font-size: 24px;
        font-family: $roboto;
        margin-bottom: 0;
    }
}
.user {
    p {
        color: $primaryColor;
        font-size: 14px;
        margin: 0;
    }
}
.user-details {
    a {
        color: $primaryColor;
        font-size: 14px;
    }
}