
@use '../abstracts/variables' as *;

/*
************
*************************
02. portfolio area
******************************************************* 
*************************************************************** */



.philip-portfolio-item.image {
   width: 100%;
  }

//   try 

.portfolio_designer_id_77 .portfolio_single_wrapp .portfolio_single_wrap_box {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
	border-top-color: #cccccc;
	border-top-style: solid;
	border-top-width: 1px;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-right-color: #cccccc;
	border-right-style: solid;
	border-right-width: 1px;
	border-left-color: #cccccc;
	border-left-style: solid;
	border-left-width: 1px;
	border-radius: 0%;
	box-shadow: 0px 0px 0px 0px #cccccc;
	display: inline-block;
	width: 100%;
}
.essential_effect .mask-wrapper::before, .essential_effect .mask-wrapper::after, .essential_effect .mask-wrapper .mask::before, .essential_effect .mask-wrapper .mask::after {
	position: absolute;
	display: block;
	content: '';
	height: 0px;
	width: 0px;
	background-color: transparent;
	transition: all .3s ease-in-out;
	opacity: 0;
}
.essential_effect .mask-wrapper::after {
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
	bottom: 20px;
	right: 20px;
}
.essential_effect .mask-wrapper::before {
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	top: 20px;
	left: 20px;
	z-index: 1;
}
.portfolio_single_wrapp.left_side .mask-wrapper, .portfolio_single_wrapp.left_side .mask-contents {
	float: right;
	width: 50%;
}
.lange-image {
	height: 860px;
	width: 100%;
  }

  .philip-portfolio-item.image {
	position: relative;
  }
  .hoverinner {
	position: absolute;
	top: 0;
	height: 100%;
	left: 0;
	width: 100%;
	transition: .4s;
	background: #00000075;
	color: #fff;
	transition: all .3s;
	opacity: 0;
	visibility: hidden;
  }
  .hoverinner1::before {
	content: "";
	display: block;
	height: 1px;
	width: 150px;
	transform: scale(0);
	transform-origin: top left;
	transition: all .3s;
	background: #acacac;
	top: 70px;
	position: absolute;
	bottom: 0px;
	left: 50px;
  }
  .hoverinner1::after {
    content: "";
    display: block;
    height: 150px;
    width: 1px;
    background: #acacac;
    top: 50px;
	transition: all .3s;
    position: absolute;
    bottom: 0;
	transform: scale(0);
	transform-origin: top left;
    left: 76px;
}
.hoverinner2::before {
	content: "";
	display: block;
	height: 1px;
	width: 150px;
	background: #acacac;
	position: absolute;
	transition: all .3s;
	bottom: 70px;
	transform: scale(0);
	transform-origin: bottom right;
	right: 50px;
  }
  .hoverinner2::after {
    content: "";
	transition: all .3s;
	display: block;
    height: 150px;
    width: 1px;
    background: #acacac;
	transform: scale(0);
	transform-origin: bottom right;
	position: absolute;
    bottom: 50px;
    right: 76px;
}
  .hoverinner-content {
	h4 {
		color: #fff;
	} 
  } 
  .hoverinner-content {
	li {
		list-style: none;
		font-size: 30px;
		margin-right: 20px;
	}
	li:nth-child(2) {
		margin-right: 0;
	}
	
	span:hover {
		color: $primaryColor;
		transition: all .3s;
	  }
  }
  .philip-portfolio-item:hover .hoverinner1, .philip-portfolio-item:hover .hoverinner2 {
	&::before, &::after {
		transform: scale(1);
	}
  }
  .philip-portfolio-item:hover .hoverinner {
	  opacity: 1;
	  visibility: visible;
  }

