@use '../abstracts/variables' as *;

/*
************
*************************
23. testimonial
******************************************************* 
*************************************************************** */
.philip-testimonial-content {
    p {
        font-size: 16px;
        font-weight: 400;
        font-family: $dmSans;
        line-height: 26px;
        margin-bottom: 0;
    }
} 
.philip-testimonial-user {
    h3 {
        font-size: 24px;
        font-weight: 400;
        font-family: $roboto;
        text-transform: capitalize;
        margin: 0;
    }
    
}
.philip-testimonial-box {
    .philip-section-heading {
        margin-bottom: 0;
    }
    
}
.philip-testimonial-user {
    p {
        font-size: 16px;
        font-weight: 400;
        color: $primaryColor;
    }
}
.carousel-control-prev {
	display: none;
}
.carousel-control-next-icon {
	display: none;
}
.carousel-dark .carousel-indicators [data-bs-target] {
    background-color: $primaryColor;
  }
  .carousel-indicators [data-bs-target] {
	width: 6px;
	height: 5px;
    border-radius: 50%;
}
.carousel-indicators .active {
    width: 40px;
    height: 5px;
    border-radius: 0%;
  }
  .carousel-indicators {
    margin-bottom: -1rem;
  }


